In [2]:
import pandas as pd
from pandas import DataFrame
import numpy as np

In [3]:
vendas = {'Medicamentos': ['Florastor','Cetoprofeno','Nimesulida','Biocomplex','Magflan'],'Quantidade': [2,2,2,2,1],'Valores': [2.0, 2.5,2.0,10.0,7.0] }

In [4]:
df = DataFrame(vendas)

In [5]:
df

  Medicamentos  Quantidade  Valores
0    Florastor           2      2.0
1  Cetoprofeno           2      2.5
2   Nimesulida           2      2.0
3   Biocomplex           2     10.0
4      Magflan           1      7.0

In [6]:
#Reorganizando as colunas
DataFrame(vendas, columns = ['Medicamentos', 'Quantidade', 'Valores'])

  Medicamentos  Quantidade  Valores
0    Florastor           2      2.0
1  Cetoprofeno           2      2.5
2   Nimesulida           2      2.0
3   Biocomplex           2     10.0
4      Magflan           1      7.0

In [7]:
df['Comisso Total'] = df['Quantidade'] * df['Valores']

In [8]:
df

  Medicamentos  Quantidade  Valores  Comisso Total
0    Florastor           2      2.0            4.0
1  Cetoprofeno           2      2.5            5.0
2   Nimesulida           2      2.0            4.0
3   Biocomplex           2     10.0           20.0
4      Magflan           1      7.0            7.0

In [9]:
comissao_02_05 = df['Comisso Total'].sum()

In [10]:
comissao_02_05

40.0

Os codigos da linha acima são um esboço do que eu iria fazer a frente, deixei por motivos de comparação apenas.

In [11]:
#Criando uma lista vazia para armazenar os valores das colunas
#m de medicamentos, q de quantidade, v de valores
m = []
q = []
v = []

In [12]:
#Criando uma funçao que posso adicionar o nome do medicamento, sua quantidade e seu valor comissionado
def adcProduto():
    m.append(str(input()))
    q.append(int(input()))
    v.append(float(input()))
    venda = {'medicamentos': m,'quantidade': q, 'valores': v}
    print(venda)
#ESSA FUNÇAO É USADA PARA ALIMENTAR UM VALOR DE CADA VEZ, OU SEJA PRIMEIRO PASSO O NOME A QUANTIDADE E O VALOR
#E DEPOIS EU EXECUTO A FUNÇÃO NOVAMENTE PARA COLOCAR OUTRO E ASSIM RESPECTIVAMENTE ATE TERMINAR A LISTA

In [13]:
adcProduto()

ValueError: invalid literal for int() with base 10: ''

In [ ]:
#Verificando as colunas de medicamentos
m

['Florastor', 'Cetoprofeno', 'Nimesulida', 'Biocomplex', 'Magflan']

In [ ]:
#Criando um dicionario com os valores das colunas, depois que forem armazenados pela funçao adcProduto
vend = {'Medicamentos': m,'Quantidade': q, 'Valores': v}

In [ ]:
#Usando a funçao DataFrame do pandas para criar a tabela com os valores do dia
maio_02 = DataFrame(vend)

In [ ]:
maio_02

  Medicamentos  Quantidade  Valores
0    Florastor           2      2.0
1  Cetoprofeno           2      2.5
2   Nimesulida           2      2.0
3   Biocomplex           2     10.0
4      Magflan           1      7.0

In [ ]:
#Nessa linha ela vai criar uma nova coluna contendo o valor comissionado que cada produto deu no dia
maio_02['Comissao Total'] = maio_02['Quantidade'] * maio_02['Valores']

In [ ]:
maio_02

  Medicamentos  Quantidade  Valores  Comissao Total
0    Florastor           2      2.0             4.0
1  Cetoprofeno           2      2.5             5.0
2   Nimesulida           2      2.0             4.0
3   Biocomplex           2     10.0            20.0
4      Magflan           1      7.0             7.0

In [ ]:
#Somando o valor de comissao total do dia
maio_02['Comissao Total'].sum()

40.0